{% extends "autohs_index.html" %}
{% block title %}Configuration{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block menu %}
{{ super() }}
{% endblock menu %}
{% block content %}
<h2>{{ layout_name }}</h2>
<h3>Edit Network Attribute</h3>
{% for attr in configuration %}
    <form action='{{ scope_for(scope="aupdate") }}' method="post">
        <label for="{{attr.name}}-value">{{attr.prompt}}:</label>
        <input type="text" id="{{attr.name}}-value" name="value" pattern="{{attr.format}}"
	       title="{{attr.tooltip}} ({{attr.format}})"
               value={{attr.value}}>
            <input type="hidden" id="{{attr.name}}-name" name="name" value={{attr.name}}>
            <input type="hidden" id="{{attr.name}}-prompt" name="prompt" value="{{attr.prompt}}">
        <br>
        <input type="button" onclick='location.replace("{{ scope_for(scope="adisplay") }}")' value="Cancel">
        <input type="submit" value="Update">
    </form>
{% endfor %}
{% endblock content %}
{% block footer %}
{{ super() }}
{% endblock footer %}
