<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="../static/main.css" />
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %} - CANPi Server</title>
    {% endblock head %}
</head>
<body>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2022 by <a href="mailto:enchanted.systems@btinternet.com">Enchanted Systems Limited</a>
        {% endblock footer %}
    </div>
</body>
</html>