{% extends "canpi_index.html" %}
{% block title %}Configuration{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block menu %}
{{ super() }}
{% endblock menu %}
{% block content %}
<div>
<h2>{{ layout_name }}</h2>
<h3>CANPi Definition File Status</h3>
    {{ status }}
    <br>
    <form action='{{ scope_for(scope="cdisplay") }}' method="get">
        <button type="submit" value="Submit">Continue</button>
    </form>
</div>
{% endblock content %}
{% block footer %}
{{ super() }}
{% endblock footer %}